#profile-pic {
  border-radius: 5%;
  max-width: 100%;
}

#header-name {
  font-size: 3em;
}

.project-title {
  text-align: center;
  text-decoration: underline;
  font-style: italic;
  color: #2C3E50;
}

.img-fluid {
  max-height: 100%;
}

.modal-para {
  font-size: 1.3rem;
}

#about-title-1, #about-title-2 {
  text-transform: uppercase;
  font-style: italic;
}

#about-para-1, #about-para-2 {
  text-align: center;
}

#copyright {
  font-size: 1.2rem;
}
