div.container {
  width: 100%;
}

header.masthead {
  max-width: 100%;
  background-image: url('lightbulb-space.jpg') !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 24rem;
}

#header-name {
  font-size: 3em;
}

#roles-header {
  position: relative;
  bottom: 14rem;
  right: 14rem;
  width: 76vw;
  text-align: center;
  font-weight: bolder;
  color: midnightblue;
  text-shadow: 2px 2px 6px #fff;
}

.project-title {
  text-align: center;
  text-decoration: underline;
  font-style: italic;
  color: #2C3E50;
}

#about {
  background-color: #613A43;
}

#resume-btn {
  margin-top: 3rem;
}

#resume-btn:hover {
  color: #613A43;
}

.img-fluid {
  max-height: 100%;
}

.modal-para {
  font-size: 1.3rem;
}

.modal-links {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
}

.modal-links:hover {
  color: midnightblue;
}

#about-title-1, #about-title-2 {
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: bolder;
  /* font-style: italic; */
  text-decoration: underline;
}

#about-para-1, #about-para-2 {
  text-align: center;
}

#optional-image {
  background-image: url('beforeIDie.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 24rem;
}

#copyright {
  font-size: 1.2rem;
}

@media screen and (max-width: 767px) {
  #about, #connect {
    max-width: 100%;
    margin-right: 0;
  }

  body {
    margin: 0;
  }
}